<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>

		<script>
		var counter = 1;

		function selectName(inputString, id){
			// Find the name in the actordropdown string and replace with 
			searchStr = "<option value='" + id + "'>";
			replaceStr = "<option value='" + id + "' selected>";
			var result = inputString.replace(searchStr, replaceStr);
			return result;
		}

		function addInput(divName){

			if(divName == 'dynamicRelationInput') {
				var newdiv = document.createElement('div');
          		newdiv.innerHTML = "<%= actor.name %> is related to <%- actordropdown %> as <input type='text' id='relTarget' name='relTarget[]'>";
          		document.getElementById(divName).appendChild(newdiv);
          	
			} else {
    	
        		var newdiv = document.createElement('div');
          		newdiv.innerHTML = "<input type='text' name='label'> <input type='text' name='value'>";
          		document.getElementById(divName).appendChild(newdiv);
          		counter++;
     		};
		}

		function addImage(file){
			
			alert(JSON.stringify(file));
    		var newdiv = document.createElement('div');
      		newdiv.innerHTML = "<img src=/" + file.path + ">";
      		document.getElementById('images').appendChild(newdiv);
		}

		Dropzone.options.uploadWidget = {
		  paramName: 'file',
		  maxFilesize: 2, // MB
		  maxFiles: 1,
		  dictDefaultMessage: 'Drag an image here to upload, or click to select one',
		  headers: {
		    'actor_id': '<%= actor._id %>',
		  },
		  acceptedFiles: 'image/*',
		  init: function() {
		    this.on('success', function( file, resp ){
		      console.log( file );
		      console.log( resp );
			  addImage(resp);
		    });
		    this.on('thumbnail', function(file) {
		      if ( file.width < 640 || file.height < 480 ) {
		        file.rejectDimensions();
		      }
		      else {
		        file.acceptDimensions();
		      }
		    });
		  },
		  accept: function(file, done) {
		    file.acceptDimensions = done;
		    file.rejectDimensions = function() {
		      done('The image must be at least 640 x 480px')
		    };
		  }
		};
	
		</script>
	</head>
	<body class="container">
		<header>
			<% include partials/header %>
		</header>
		
		<main>
			<div class="jumbotron">

			<div>
		 
           <% if(typeof(errorMessage) !== 'undefined') {%>
              <span><%= errorMessage %></span>
           <% } %>


		<form method="post" action="/actors/<%= actor._id %>">
		<input type="hidden" name="_method" value="put" />
		 
           <% if(typeof(errorMessage) !== 'undefined') {%>
              <span><%= errorMessage %></span>
           <% } %>
		 
           <div class="form-group">
		 	<% for (var key in actor) { %>
		 		<% if(key != '_id' && key != '') { %>
		 			<% if(key != 'actorTarget' && key != 'relTarget') { %>
		 				<label for="<%= key %>"><%= key %></label>
              			<input type="text" class="form-control" name="<%= key %>" id="<%= key %>" value="<%= actor[key] %>"/> <a href="/actors/remove/<%= actor._id %>/<%= key %>">X</a><br>
		 			<% } %>
		 		<% } %>
			<% } %>


			<hr>
			<p> Add new parameters
			<div id="dynamicInput">
          		<input type="text" id="label1" name="label"> <input type="text" id="value1" name="value"> 
     		</div>
     		<input type="button" value="+ parameter" onClick="addInput('dynamicInput');">

     		<hr>
     		<p> Relationships
     		<div id="dynamicRelationInput">
     		<% if(actor.actorTarget) {%>
			<% actor.actorTarget.forEach(function(el, index) { %>
				<%= actor.name %> is related to <%- actordropdown.replace("<option value='" + el + "'>", "<option value='" + el + "' selected>"); %> as <input type="text" id="relTarget[]" name="relTarget[]" value="<%= actor.relTarget[index] %>"></p>
			<% }); %>
			<% } %>
          		 <%= actor.name %> is related to <%- actordropdown %> as <input type="text" id="relTarget" name="relTarget[]">
     		</div>
     		<input type="button" value="+ relationship" onClick="addInput('dynamicRelationInput');">
		   

			<hr>
			<p> Images
			<div id="images">

			</div>

	          <p>
	             <button type="submit" name="submit" id="submit" class="btn btn-default">update</button>
	          </p>
			
			
	     </form>

<form id="upload-widget" method="post" action="/actors/upload" class="dropzone">
<input type="hidden" name="actor_id" value="<%= actor._id %>" />
</form>


	     <a href='/actors/delete/<%= actor._id %>'>delete actor</a>
		 	</main>
		
	<footer>
		<% include partials/footer %>
	</footer>
	</body>
</html>