<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>

		<script>
		var counter = 1;

		function selectName(inputString, id){
			// Find the name in the actordropdown string and replace with 
			searchStr = "<option value='" + id + "'>";
			replaceStr = "<option value='" + id + "' selected>";
			var result = inputString.replace(searchStr, replaceStr);
			return result;
		}

		function addInput(divName){

			if(divName == 'dynamicRelationInput') {
				var newdiv = document.createElement('div');
          		newdiv.innerHTML = "<%= actor.name %> is related to <%- actordropdown %> as <input type='text' id='relTarget' name='relTarget[]'>";
          		document.getElementById(divName).appendChild(newdiv);
          	
			} else {
    	
        		var newdiv = document.createElement('div');
          		newdiv.innerHTML = "<input type='text' name='label'> <input type='text' name='value' length='5'>";
          		document.getElementById(divName).appendChild(newdiv);
          		counter++;
     		};
		}

		function addImage(file){
			
			//alert(JSON.stringify(file));
    		var newdiv = document.createElement('div');
      		newdiv.innerHTML = "<input type='hidden' name='imagepath' value='" + file.path + "'><img src='/" + file.path + "' height='150' width='150'><br>Filename: <input type='text' name='filename' value='" + file.originalname + "'><br>Comments: <input type='text' name='imagecomments'>";
      		document.getElementById('images').appendChild(newdiv);
		}

		Dropzone.options.uploadWidget = {
		  paramName: 'file',
		  maxFilesize: 10, // MB
		  maxFiles: 1,
		  dictDefaultMessage: 'Drag an image here to upload, or click to select one',
		  headers: {
		    'actor_id': '<%= actor._id %>',
		  },
		  acceptedFiles: 'image/*',
		  init: function() {
		    this.on('success', function( file, resp ){
		      console.log( file );
		      console.log( resp );
			  this.removeFile(file);
			  location.reload();
		    });
		    this.on('thumbnail', function(file) {
		      if ( file.width < 640 || file.height < 480 ) {
		        file.rejectDimensions();
		      }
		      else {
		        file.acceptDimensions();
		      }
		    });
		  },
		  accept: function(file, done) {
		    file.acceptDimensions = done;
		    file.rejectDimensions = function() {
		      done('The image must be at least 640 x 480px')
		    };
		  }
		};
	
		</script>
	</head>
	
	<body class="container-fluid">
		<header>
			<% include partials/header %>
			
			<% if(actor.project_id) { %>
			<ol class="breadcrumb">
			  <li><a href="#">Projects</a></li>
			  <li><a href="/projects/<%= actor.project_id %>"><%= actor.project_id %></a></li>
			  <li class="#"><%= actor.workshop_name %></li>
			  <li class="active">Actors</li>
			</ol>
			<% } %>
		</header>
		

		<main>
			<h2>Actor: <%= actor.Name %></h2>
			<h3>Actor workshop parameters</h3>
		<div class="col-md-6">	
		<form method="post" action="/actors/<%= actor._id %>" class="form-horizontal">
          
		 	<% for (var key in actor) { %>
		 		<% if(key != '_id' && key != '' && key != 'ID') { %>
		 			<% if(key != 'actorTarget' && key != 'relTarget' && key != 'images') { %>
						<div class="form-group">	
		 				<label for="<%= key %>" class="col-sm-2 control-label"><%= key %></label>
						<div class="col-sm-10">
							<div class="input-group">
              				<input type="text" class="form-control" name="<%= key %>" length="5" id="<%= key %>" value="<%= actor[key] %>"/>
							<span class="input-group-addon"><a href="/actors/remove/<%= actor._id %>/<%= key %>">X</a></span>
							</div>
						</div>
						</div>
		 			<% }  else { %>

		 		<% } %>
			<% } %>
		<% } %>
			<div class="form-group">
				<div class="col-sm-10">
					<h3>Add new parameters</h3>
						<div id="dynamicInput">	
          					<input type="text" id="label1" name="label"> <input type="text" id="value1" name="value" length="5"> 
						</div>
     			</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
     				<input type="button" value="+ parameter" onClick="addInput('dynamicInput');">
				</div>
			</div>
			
		</div>
		<div class="col-md-6">	
			<div class="form-group">
				<div class="col-sm-10">
					<h3>Images</h3>
					<% if(actor.images) { %>
						<% actor.images.forEach(function(image) {  %>
							<img src='/<%= image.path %>' height='150' width='150'>
						<% }); %>
					<% } %>
					
						<% if(actor.imagepath) { %>
							<%	if (Array.isArray(actor.imagepath)) {%>
								<% 		actor.imagepath.forEach(function(el, index) { %>
									<p><input type='hidden' name='imagepath' value='<%= el %>'><img src='/<%= el %>' height='150' width='150'>
								<% 		}); %>
							<% 	} else { %>
									<p><input type='hidden' name='imagepath' value='<%= actor.imagepath %>'><img src='/<%= actor.imagepath %>' height='150' width='150'>	
							<% 	}; %>
						<% } %>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-10">
					<div id="images">

					</div>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
	          	  <p>
					  <input type="hidden" name="_method" value="put" /> 
	             	 <button type="submit" name="submit" id="submit" class="btn btn-default">Save Changes</button>
	          	</p>
				</div>
			</div>
	     </form>

		 <div id="imageupload">
			 <div class="col-sm-10">
				 <p>Upload an image to add</p>
				 <form id="upload-widget" method="post" action="/actors/upload" class="dropzone">
				 	<input type="hidden" name="actor_id" value="<%= actor._id %>" />
			 	 </form>
			</div>
		</div>

		<div class="col-sm-10">
	     <a href='/actors/delete/<%= actor._id %>' class="btn btn-primary btn-lg" role="button">Delete This Actor</a>
		</div>
	</div>
	</div>
</main>
		
	<footer>
		<% include partials/footer %>
	</footer>
	</body>
</html>