<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>

		<script>
		var counter = 1;
		
		function addInput(divName){
    	
        	var newdiv = document.createElement('div');
          	newdiv.innerHTML = "<input type='text' name='label'> <input type='text' name='value'>";
          	document.getElementById(divName).appendChild(newdiv);
          	counter++;
     	
		}

	
		</script>
	</head>
	<body class="container">
		<header>
			<% include partials/header %>
		</header>
		
		<main>
			<div class="jumbotron">

			<div>
		 
           <% if(typeof(errorMessage) !== 'undefined') {%>
              <span><%= errorMessage %></span>
           <% } %>


		<form method="post" action="/actors/<%= actor._id %>">
		<input type="hidden" name="_method" value="put" />
		 
           <% if(typeof(errorMessage) !== 'undefined') {%>
              <span><%= errorMessage %></span>
           <% } %>
		 
           <div class="form-group">
		 	<% for (var key in actor) { %>
		 		<% if(key != '_id') { %>
		 			<label for="<%= key %>"><%= key %></label>
              		<input type="text" class="form-control" name="<%= key %>" id="<%= key %>" required="true" value="<%= actor[key] %>"/>
		 		<%	} %>
			<% } %>

			<br>
			<p> Add new parameters
			<div id="dynamicInput">
          		<input type="text" id="label1" name="label"> <input type="text" id="value1" name="value"> 
     		</div>
     		<input type="button" value="+ parameter" onClick="addInput('dynamicInput');">
		   
	          <p>
	             <button type="submit" name="submit" id="submit" class="btn btn-default">update</button>
	          </p>
			
	     </form>

	     <button type="delete" name="delete" class="btn btn-default" onclick="window.location.href='/actors/delete/<%= actor._id %>';">delete actor</button>
		 	</main>
		
	<footer>
		<% include partials/footer %>
	</footer>
	</body>
</html>