<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>
		
		<script>

		</script>
		
	</head>
	<body class="container">
		<header>
			<% include partials/header %>
		</header>
		
		<main>
			<div class="jumbotron">
			<h1><%= project.name %></h1>
			
			<% if(project.problemtext) { %>
				<h2><%= project.problemtext %></h2>
			<% } %>
					

		 <h3>List of Workshops</h3>

           <% if(typeof(errorMessage) !== 'undefined') {%>
              <span><%= errorMessage %></span>
           <% } %>
			<ul>	
			<% if(project.workshops) { %>	 
           <% project.workshops.forEach(function(workshop) { %>

			 <li><a href="/workshops/<%= workshop.id %>"><%= workshop.name %></a> <a href="/workshops/delete/<%= workshop.id %>">X</a></li>

		<% }); %>
			<% } %>
			</ul>
		<hr>
		<h3>Add New Workshop</h3>
		<form method="post" action="/workshops/add" role="form" class="form-horizontal" id="blankworkshop">
	 
           <% if(typeof(errorMessage) !== 'undefined') {%>
              <span><%= errorMessage %></span>
           <% } %>
	 	  	<div class="form-group">
		 	  <label for="name" class="col-sm-2 control-label">Name</label>
			  <div class="col-sm-10">
				  <input type="text" class="form-control" name="name" id="name" required/> <br>
				  <input type="hidden" name="project_id" id="project_id" value="<%= project._id %>"
	        </div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
	           <button type="submit" name="submit" id="submit" class="btn btn-default">Add</button>
			</div>
		</div>
			</form>
			<hr>
			
			<div class="well well-lg">
			<h4>Add a demo workshop</h4>
			<p>There are two sets of Demo Data available.</p>
			
			<h5>Large Lego Data Set</h5>
			<form method="post" action="/support/testdata" role="form" class="form-horizontal" id="prepoplego1">
            <div class="form-group">
 		 		<label for="name" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-10">
             	   <input type="text" class="form-control" name="name" id="name" required/> <br>
 				   <input type="hidden" name="project_id" id="project_id" value="<%= project._id %>"
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" name="submit" id="submit" class="btn btn-default">Pre-populate Large Lego Data Set</button>
 				</div>
			</div>
			</form>
			<h5>Short Lego Data Set</h5>
			<form method="post" action="/support/testdata2" role="form" class="form-horizontal" id="prepoplego2">
            <div class="form-group">
 		 		<label for="name" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-10">
             	   <input type="text" class="form-control" name="name" id="name" required/> <br>
 				   <input type="hidden" name="project_id" id="project_id" value="<%= project._id %>"
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" name="submit" id="submit" class="btn btn-default">Pre-populate Short Lego Data Set</button>
 				</div>
			</div>
	     	</form>
	
		</div>
	</main>		
	<footer>
		<% include partials/footer %>
	</footer>
	</body>
</html>