<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>

		<% 
			if(workshop.nodes){
			var actorDropdown = "";
			var counter = 0;
			if(workshop.nodes) { 
				workshop.nodes.forEach(function(node) { 
					if(node.Name) {
						actorDropdown = actorDropdown + "<option value='" + node.ID + "'>" + node.Name + "</option>";
					} else {
						actorDropdown = actorDropdown + "<option value='" + node.ID + "'>" + node.name + "</option>";
					}
					counter++;
				});
			};
			};
		%>
		
		<script>
		var counter = 1;
		
		var workshopJSON = <%- JSON.stringify(workshop) %>;
		
		function listRelationships(){
			//var newdiv = document.createElement('div');
			var newinnerHTML = '<table class="table table-striped"><tr><th>Source</th><th>Relationship</th><th>Target</th><th>Value</th><th>Delete</th></tr>';
			if(workshopJSON.links){
			console.log(JSON.stringify(workshopJSON.links));
			workshopJSON.links.forEach(function(link) {
					console.log(JSON.stringify(link));
			 		newinnerHTML = newinnerHTML + '<tr><td>' + link.source + '</td><td> is related to </td><td>' +  link.target + '</td><td>' + link.value + '</td><td> <button type="delete" name="deleteRel" id="deleteRel" class="btn btn-default" onClick="deleteRelationship(' + workshopJSON.links.indexOf(link) + ')">delete</button></td></tr>';

			});
			newinnerHTML = newinnerHTML + '</table>';
			//alert(document.getElementById('dynamicRelList').innerHTML);
			document.getElementById('dynamicRelList').innerHTML = newinnerHTML;
			}
		};
		
		function addInput(divName){
    	
			if(divName == 'dynamicActor') {
        		var newdiv = document.createElement('div');
          		newdiv.innerHTML = "<label for='name'>Name: </label> <input class='form-control' type='text' name='name'>";
          		document.getElementById(divName).appendChild(newdiv);
          		counter++;
			} else if(divName == 'dynamicRelationship') {
        		var newdiv = document.createElement('div');
          		newdiv.innerHTML = "<label for='source'>Source: </label><select name='source'><%- actorDropdown %></select> <label for='target'>Target: </label><select name='target'><%- actorDropdown %></select> <label for='value'>Value(Number): </label> <input type='text' name='value' length='5'> <label for='label'>Label: </label><input type='text' name='label' length='10'>";
          		document.getElementById(divName).appendChild(newdiv);
          		counter++;
			} else {
			
			}
		};
		
		function deleteRelationship(index){
			//alert(index);
			console.log(workshopJSON.links);
			
			workshopJSON.links.splice(index, 1);

			console.log(workshopJSON.links);
			var string = JSON.stringify(workshopJSON);
			var xhr = new XMLHttpRequest();
			xhr.open("POST", "/workshops/relupdate", true);
			xhr.setRequestHeader('Content-type','application/json; charset=utf-8');
			xhr.setRequestHeader("Content-length", string.length);
			xhr.setRequestHeader("Connection", "close");
			xhr.send(string);
			
			listRelationships();
			document.getElementById('actord3map').contentDocument.location.reload(true);
		};
		
		
		</script>
		
	</head>
	<body class="container-fluid" onload="listRelationships();">
		<header>
			<% include partials/header %>
			
			<ol class="breadcrumb">
			  <li><a href="#">Projects</a></li>
			  <li><a href="/projects/<%= workshop.project_id %>"><%= workshop.project_id %></a></li>
			  <li class="active"><%= workshop.name %></li>
			</ol>
		</header>
		
		<main>

				<div class="col-md-6">
					<h1>Name: <%= workshop.name %></h1>
					
					<a href="/workshops/actors/<%= workshop._id %>">New Actor Sheet</a>
					
					<h3>Actors</h3>
					<table class="table table-striped">	
						<tr>
							<th>Name</th>
						</tr>	
						<% if(workshop.nodes) { %>
	           				<% workshop.nodes.forEach(function(node) { %>
								<% if(node.Name) { %>
									<tr>
				 					<td><a href="/actors/<%= node._id %>"><%= node.Name %></a></td>
									</tr>
								<% } else { %>
									<tr>
				 					<td><a href="/actors/<%= node._id %>"><%= node.name %></a></td>
									</tr>
								<% } %>
							<% }); %>
						<% }; %>
					</table>
					<div class="well well-lg">
						<h4>Add Actors</h4>
						<form method="post" action="/actors/add2" class="form-horizontal">	
							<div class="form-group">
								<div class="col-sm-10">
									<div id="dynamicActor">
          		
     								</div>
									<input type="hidden" name="_id" value="<%= workshop._id %>" />
									<p><input type="button" value="+ actor" onClick="addInput('dynamicActor');"></p>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
  	          						<p>
  	             		 	   		 <button type="submit" name="submit" id="submit" class="btn btn-default">update actors</button>
  	          	   				 	</p>
			  				 	</div>
							</div>
						</form>
					</div>
				</div>
		
		<div class="col-md-6">
  		  <h3>Actor Network</h3>
		  <p><a href="/actors/map/map8/<%= workshop._id %>">View network Map</a></p>
<% if(workshop.links){ %>
  		    <iframe sandbox="allow-popups allow-scripts allow-forms allow-same-origin allow-popups-to-escape-sandbox" src="/actors/map/map8/<%= workshop._id %>" marginwidth="0" marginheight="0" style="height:500px; width:95%" scrolling="no" id="actord3map"></iframe>

  		  <div class="index-pop">
  		    <a target="_blank" title="Open map a new window." href="/actors/map/map8/<%= workshop._id %>">Open<svg height="16" width="12"><path d="M11 10h1v3c0 0.55-0.45 1-1 1H1c-0.55 0-1-0.45-1-1V3c0-0.55 0.45-1 1-1h3v1H1v10h10V10zM6 2l2.25 2.25-3.25 3.25 1.5 1.5 3.25-3.25 2.25 2.25V2H6z"></path></svg></a>
  		  </div>
<% } %>

			<div>
			<h3>Relationships</h3>
		
				<div id="dynamicRelList">
			
				</div>

		</div>
			<div class="well well-lg">
				<h4>Add Relationships</h4>
				<form method="post" action="/actors/addrel2" class="form-horizontal">	
					<div class="form-group">
						<div class="col-sm-10">
							<div id="dynamicRelationship">
          		
     						</div>
							<input type="hidden" name="_id" value="<%= workshop._id %>" />
							<p><input type="button" value="+ relationship" onClick="addInput('dynamicRelationship');"></p>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
  	          				 <p>
  	             			 <button type="submit" name="submit" id="submit" class="btn btn-default">update relationships</button>
  	          		   		 </p>
		  				 </div>
					 </div>
				 </form>
			 </div>

			 <div>
	          <p>
	             <button type="submit" name="exportXML" id="submit" class="btn btn-default">Export XML</button>
	          </p>
			  
  	          <p>
  	             <button type="submit" name="exportPDF" id="submit" class="btn btn-default">Export PDF</button>
  	          </p>
			 </div> 
		</div>


	</main>		
	<footer>
		<% include partials/footer %>
	</footer>
	</body>
</html>